*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.child_1{
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
    align-items: center;
    height: 50px;
}
.top{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.format{
    display: flex;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 500;
    gap: 4px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.format select{
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
}
.format option{
    text-align: center;
}
.child_2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.column::before{
    content: "COPY";
    opacity: 0;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 20px;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}
.column{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: end;
    align-items: end;
    text-transform: uppercase;
    font-size: 20px;
    width: 20%;
    color: white;
    padding: 8px;
    cursor: pointer;
}
.column:hover::before{
    opacity: 1;
}
@media screen and (max-width: 769px) {
    .column p{
        font-size: 14px;
    } 
    .format{
        display: none;
    }
}
@media screen and (max-width: 426px) {
    .column p{
        display: none;
    }
    .column::before{
        display: none;
    }
}