*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(background_img.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
} */
 body::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.navbar{
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}
.logo{
   padding: 7px 0px 7px 20px;
}
.logo img{
    height: 50px;  
}
.list{
    display: flex;
    list-style: none;
    justify-content: right;
    height: 100%;
    flex-wrap: wrap;
}
.list span{
    display: none;
}
.list li{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    padding: 0px 30px;
}
.list li:hover{
    background-color: #F4F4F2;
    color: rgb(72, 72, 192);
}
.menu_two{
    display: none;
}

.cards{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
}
.child{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    flex-grow: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child h2{
    font-size: 28px;
    width: 100%;
    font-weight: 500;
}
.child p{
    text-align: justify;
    line-height: 1.7;
    font-size: 18px;
}
.child span{
    font-size: 64px;
}

@media screen and (max-width: 769px) {
  .list span{
    display: flex;
}
  .list p{
    display: none;
  }
}
@media screen and (max-width: 426px) {
 body{
    padding: 5px;
}
    .logo img{
    height: 36px;  
}
    .list{
    display: none;
}
  .menu_two{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0px 20px;
  }
}   