*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(146, 146, 89);        
}
#main {
    width: 100%;
    max-width: 1024px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
    padding: 16px;
}
#score-div {
    width: 100%;
    display: flex;
    padding-inline: 85px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
#score-div h1 {
    font-size: 32px;
}
#js-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
}
#select-div {
    margin-top: 8px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

@media (max-width: 600px) {
    #score-div {
        flex-direction: column;
        padding-inline: 85px;
        gap: 16px;
    }
    #score-div h1 {
        font-size: 24px;
    }
}