@import url(./swiper-slider.css);
@import url(./swiper-marquee.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  background-color: rgb(255, 255, 255, 0.7);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  gap: 30px;
  font-size: 14px;
  position: sticky;
  top: 0px;
  z-index: 999;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #171717;
  font-weight: 200;
  gap: 16px;
  margin: 0px;
}
.right {
  display: flex;
  gap: 20px;
}
#menu {
  display: none;
}
.logo {
  width: 20px;
}
.hero {
  background-image: url("./assets/images/hero_holiday_2025__gg4r7ioqlj2i_largetall_2x.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 12px;
  gap: 16px;
  color: #171717;
}
.hero > h1 {
  font-size: 42px;
  text-align: center;
}
.hero > h2 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.hero button {
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #0071e3;
  padding: 12px 24px;
}
.iphone {
  background-image: url(./assets/images/hero_iphone_17_pro__bknyzxfk2agi_largetall_2x.jpg);
  justify-content: flex-start;
  color: white;
}
.iphone button:nth-child(2) {
  border: 2px solid #0071e3;
  background-color: transparent;
  color: #0071e3;
  margin-left: 10px;
}
.iphone button:nth-child(2):hover {
  background-color: #0071e3;
  color: white;
}
.air {
  background-image: url(./assets/images/hero_iphone_air__0gxyavihpiqu_largetall_2x.jpg);
  color: #171717;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 490px);
  gap: 12px;
  padding: 12px;
}
.pro-3 {
  background-image: url(./assets/images/promo_airpodspro_3__f6xmza7bglei_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.ipad-air {
  background-image: url(./assets/images/promo_ipad_air_avail__6i02t7nujr62_large_2x.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.watch {
  background-image: url(./assets/images/promo_apple_watch_series_11__b63hxviqvonm_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.ipad {
  background-image: url(./assets/images/promo_ipad__fioegapg12qi_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.trade {
  background-image: url(./assets/images/promo_iphone_tradein__bugw15ka691e_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.card {
  background-image: url(./assets/images/promo_apple_card__5cm7draujpey_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.footer{
  background-color: #F5F5F7;
  padding: 22px;
  width: 100%;
}
.footer-container{
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.f-div1{
  font-size: 12px;
  color: #0000008F;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons";
}

@media screen and (max-width: 850px) {
  #menu {
    display: block;
  }
  nav ul {
    display: none;
  }
  nav {
    justify-content: space-between;
    padding-inline: 20px;
  }
  .hero > h1 {
    font-size: 28px;
  }
  .hero > h2 {
    font-size: 16px;
  }
  .hero button {
    font-size: 14px;
    padding: 7px 15px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 490px);
    padding: 5px;
  }
  .iphone {
    background-image: url(./assets/images/hero_iphone_17_pro__bknyzxfk2agi_small_2x.jpg);
  }
  .air {
    background-image: url(./assets/images/hero_iphone_air__0gxyavihpiqu_small_2x.jpg);
  }
  .pro-3 {
    background-image: url(./assets/images/promo_airpodspro_3__f6xmza7bglei_medium_2x.jpg);
  }
  .ipad-air {
    background-image: url(./assets/images/promo_ipad_air_avail__6i02t7nujr62_small_2x.jpg);
  }
  .watch {
    background-image: url(./assets/images/promo_apple_watch_series_11__b63hxviqvonm_medium.jpg);
  }
  .ipad {
    background-image: url(./assets/images/promo_ipad__fioegapg12qi_medium_2x.jpg);
  }
  .trade {
    background-image: url(./assets/images/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg);
  }
  .card {
    background-image: url(./assets/images/promo_apple_card__5cm7draujpey_medium_2x.jpg);
  }
}
