.swiper-main {
  position: relative;
  padding-bottom: 40px;
}
.swiper {
  width: 100%;
  height: calc(100vh - 100px);
}

.swiper-wrapper {
  --swiper-wrapper-transition-timing-function: ease-in !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out !important;
  background-size: cover !important;
}
.swiper-slide-active {
  opacity: 1;
}
.slide-1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/1.jpg);
}
.slide-2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/2.jpg);
}
.slide-3 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/3.jpg);
}
.slide-4 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/4.jpg);
}
.slide-5 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/5.jpg);
}
.slide-6 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/6.jpg);
}
.slide-7 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/7.jpg);
}
.slide-8 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/8.jpg);
}
.slide-9 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/9.jpg);
}
.slide-10 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/10.jpg);
}
.swiper-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 50px;
}
.swiper-mobile-images {
  display: none;
}
.swiper-content > div:last-child {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.75s;
}
.swiper-slide-active > .swiper-content > div:last-child {
  transform: translateY(0px);
  opacity: 1;
}
.swiper-content > div > button {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
}
.swiper-content > div > p {
  text-align: left;
  color: white;
  font-size: 20px;
}
.swiper-content > div > p > span:first-child {
  font-weight: 600;
}
.swiper-slide {
  width: 80% !important;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  bottom: 16px !important;
}
.swiper-pagination-bullet {
  background-color: #0000006b !important;
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}
.swiper-pagination-bullet-active {
  background-color: #333333 !important;
}
@media screen and (max-width: 700px) {
  .swiper-slide {
    width: 275px !important;
  }
  .slide-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/1.jpg);
  }
  .slide-2 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/2.jpg);
  }
  .slide-3 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/3.jpg);
  }
  .slide-4 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/4.jpg);
  }
  .slide-5 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/5.jpg);
  }
  .slide-6 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/6.jpg);
  }
  .slide-7 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/7.jpg);
  }
  .slide-8 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/8.jpg);
  }
  .slide-9 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/9.jpg);
  }
  .slide-10 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/10.jpg);
  }
  .swiper-content {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .swiper-mobile-images {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .swiper-mobile-images > img:first-child,
  .swiper-mobile-images > span {
    height: 28px;
  }
  .swiper-mobile-images > img:last-child {
    width: 100%;
  }
  .swiper-content > div:last-child {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
  .swiper-content > div > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 16px;
  }
  .swiper-content > div > p > span {
    text-align: center;
  }
  .swiper-content > div > button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
